fastapi
uvicorn[standard]   # To run fastapi
scikit-learn       
joblib             
pandas
numpy
pydantic
seaborn
matplotlib
scipy
xgboost
jupyter # To run the jupyter
notebook # To run the jupyter
gradio