<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ description }}" />
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
    <h1>Clasificador de URLs</h1>
    <form id="urlForm">
        <label for="url">Introduce la URL:</label>
        <input type="text" id="url" name="url" required>
        <button type="submit">Analizar</button>
    </form>

    <div class="resultado" id="resultado"></div>

    <script>
        const form = document.getElementById('urlForm');
        const resultado = document.getElementById('resultado');

        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            const urlInput = document.getElementById('url').value;

            const response = await fetch('{{ api_prefix }}/predict', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ url: urlInput })
            });

            const data = await response.json();
            console.log("objeto data", data.clasificate_url);
            //resultado.textContent = Resultado: ${data.resultado === 1 ? 'Maliciosa' : 'Legítima'};
            resultado.innerHTML = `${data.clasificate_url} <strong>Resultado:</strong> ${data.url}`;

        });
        
    </script>
</body>

</html>